In [1]:
import pandas as pd
import numpy as np
import re
from ast import literal_eval

In [2]:
data=pd.read_csv('C:/Users/Administrator/Desktop/Extra/shidhra tech/tmdb_5000_credits.csv')
data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## •	Display the total count of cast members per movie in current order

In [3]:
python_dict=literal_eval(data['cast'][0])
len(python_dict)

83

In [4]:
# for i in range(len(data)):
#     data['cast'][i]=literal_eval(data['cast'][i])

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
len(data['cast'][0])

83

In [35]:
for i in range(len(data)):
    data['no_of_cast'][i]=len(data['cast'][i])

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
temp_df=pd.DataFrame()
temp_df=data.groupby('title')['title','no_of_cast'].sum()
temp_df.head()

                            no_of_cast
title
#Horror                              9
(500) Days of Summer                23
10 Cloverfield Lane                 10
10 Days in a Madhouse               22
10 Things I Hate About You          44

## •	Display the total count of crew members per movie in current order

In [12]:
python_dict=literal_eval(data['crew'][0])
len(python_dict)

153

In [107]:
data

,movie_id,title,cast,crew,no_of_cast,no_of_crew,ratio_in_cast,ratio_in_crew
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",83,153,5.916666666666667,14
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",34,32,5.882352941176471,9
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",83,155,5.666666666666667,14
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",158,217,7.7317073170731705,19
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",27,132,7.191489361702128,20
5,559,Spider-Man 3,"[{'cast_id': 30, 'character': 'Peter Parker / ...","[{'credit_id': '52fe4252c3a36847f80151a5', 'de...",143,56,4.12621359223301,15
6,38757,Tangled,"[{'cast_id': 34, 'character': 'Flynn Rider (vo...","[{'credit_id': '52fe46db9251416c91062101', 'de...",13,79,4.152380952380953,16
7,99861,Avengers: Age of Ultron,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",72,74,4.2844827586206895,16
8,767,Harry Potter and the Half-Blood Prince,"[{'cast_id': 3, 'character': 'Harry Potter', '...","[{'credit_id': '52fe4273c3a36847f801fab1', 'de...",49,27,3.9774436090225564,15
9,209112,Batman v Superman: Dawn of Justice,"[{'cast_id': 18, 'character': 'Bruce Wayne / B...","[{'credit_id': '553bf23692514135c8002886', 'de...",152,111,3.7052023121387285,15
10,1452,Superman Returns,"[{'cast_id': 3, 'character': 'Superman / Clark...","[{'credit_id': '553bef6a9251416874003c8f', 'de...",18,24,3.6741573033707864,16
11,10764,Quantum of Solace,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe43b29251416c7501aa63', 'de...",32,17,3.67027027027027,15
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{'cast_id': 37, 'character': 'Captain Jack Sp...","[{'credit_id': '52fe4211c3a36847f8001873', 'de...",33,23,3.746031746031746,15
13,57201,The Lone Ranger,"[{'cast_id': 4, 'character': 'Tonto', 'credit_...","[{'credit_id': '52fe4928c3a36847f818be95', 'de...",60,35,3.9076923076923076,14
14,49521,Man of Steel,"[{'cast_id': 2, 'character': 'Clark Kent / Kal...","[{'credit_id': '52fe4799c3a36847f813e667', 'de...",33,48,3.876847290640394,14
15,2454,The Chronicles of Narnia: Prince Caspian,"[{'cast_id': 1, 'character': 'Prince Caspian',...","[{'credit_id': '55a239e69251412979002e8b', 'de...",21,83,3.860576923076923,14
16,24428,The Avengers,"[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",115,147,3.7711864406779663,14
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{'cast_id': 15, 'character': 'Captain Jack Sp...","[{'credit_id': '566b4f54c3a3683f56005151', 'de...",35,39,3.8577405857740588,14
18,41154,Men in Black 3,"[{'cast_id': 4, 'character': 'Agent J', 'credi...","[{'credit_id': '52fe45b7c3a36847f80d68c7', 'de...",18,21,3.8518518518518516,14
19,122917,The Hobbit: The Battle of the Five Armies,"[{'cast_id': 10, 'character': 'Bilbo Baggins',...","[{'credit_id': '548ad49a9251414fa20011ab', 'de...",42,127,3.9233870967741935,14
20,1930,The Amazing Spider-Man,"[{'cast_id': 56, 'character': 'Peter Parker / ...","[{'credit_id': '5395a60dc3a368641d004492', 'de...",57,106,3.8045112781954886,14
21,20662,Robin Hood,"[{'cast_id': 1, 'character': 'Robin Longstride...","[{'credit_id': '52fe43f2c3a368484e0076ad', 'de...",34,18,3.841328413284133,14
22,57158,The Hobbit: The Desolation of Smaug,"[{'cast_id': 3, 'character': 'Bilbo Baggins', ...","[{'credit_id': '52fe4926c3a36847f818b787', 'de...",32,108,3.887272727272727,14
23,2268,The Golden Compass,"[{'cast_id': 43, 'character': 'Lyra Belacqua',...","[{'credit_id': '52fe4348c3a36847f8048635', 'de...",29,32,3.851590106007067,13
24,254,King Kong,"[{'cast_id': 5, 'character': 'Ann Darrow', 'cr...","[{'credit_id': '52fe422ec3a36847f800a1d7', 'de...",33,38,3.9507042253521125,13
25,597,Titanic,"[{'cast_id': 20, 'character': 'Rose DeWitt Buk...","[{'credit_id': '52fe425ac3a36847f8017985', 'de...",136,65,3.910828025477707,13
26,271110,Captain America: Civil War,"[{'cast_id': 9, 'character': 'Steve Rogers / C...","[{'credit_id': '569443d59251414b67000428', 'de...",100,119,4.08359133126935,13
27,44833,Battleship,"[{'cast_id': 3, 'character': 'Lieutenant Alex ...","[{'credit_id': '52fe469ec3a36847f8108d45', 'de...",46,122,4.146341463414634,13
28,135397,Jurassic World,"[{'cast_id': 10, 'character': 'Owen Grady', 'c...","[{'credit_id': '52fe4bf7c3a368484e1a0683', 'de...",28,435,4.107142857142857,15
29,37724,Skyfall,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe46689251416c910537ad', 'de...",24,30,4.087719298245614,15
...,...,...,...,...,...,...,...,...
4773,2292,Clerks,"[{'cast_id': 7, 'character': 'Dante Hicks', 'c...","[{'credit_id': '52fe434ac3a36847f8049253', 'de...",15,7,3.392632189623736,10
4774,42497,Pink Narcissus,"[{'cast_id': 1006, 'character': 'Pan', 'credit...","[{'credit_id': '52fe4606c3a36847f80e7ed9', 'de...",3,6,3.392756505884303,10
4775,33693,Funny Ha Ha,"[{'cast_id': 1, 'character': 'Marnie', 'credit...","[{'credit_id': '52fe45309251416c9102a535', 'de...",15,3,3.3933780871871373,10
4776,14585,In the Company of Men,"[{'cast_id': 1, 'character': 'Chad', 'credit_i...","[{'credit_id': '52fe46049251416c7506a36b', 'de...",5,8,3.3934032238014336,10
4777,185465,Manito,"[{'cast_id': 1, 'character': 'Junior Moreno', ...","[{'credit_id': '54931bbf925141090e001d32', 'de...",6,2,3.3936518460199725,10
4778,38780,Rampage,"[{'cast_id': 1, 'character': 'Bill Williamson'...","[{'credit_id': '52fe46df9251416c91062979', 'de...",14,15,3.3936857805767318,10
4779,14022,Slacker,"[{'cast_id': 1, 'character': 'Should Have Stay...","[{'credit_id': '52fe45c49251416c75061c17', 'de...",2,2,3.393768644348691,10
4780,366967,Dutch Kills,"[{'cast_id': 4, 'character': 'Val', 'credit_id...","[{'credit_id': '563d13ec9251414c70007d5e', 'de...",5,4,3.393793760616481,10
4781,255266,Dry Spell,"[{'cast_id': 4, 'character': 'Sasha', 'credit_...","[{'credit_id': '52fe4ee39251416c911412e7', 'de...",6,4,3.3936782799618874,10
4782,17345,Flywheel,"[{'cast_id': 1, 'character': 'Jay', 'credit_id...","[{'credit_id': '52fe471e9251416c7508e579', 'de...",1,13,3.3937197066987035,10
4783,226458,Backmask,"[{'cast_id': 3, 'character': 'Father Conway', ...","[{'credit_id': '554c8351c3a3685e500041f5', 'de...",22,36,3.393721007289596,10
4784,24055,The Puffy Chair,"[{'cast_id': 4, 'character': 'Josh', 'credit_i...","[{'credit_id': '52fe447fc3a368484e026881', 'de...",3,4,3.3936632843238765,10
4785,287625,Stories of Our Lives,"[{'cast_id': 8, 'character': '', 'credit_id': ...","[{'credit_id': '549e790a9251414d27003096', 'de...",11,7,3.3941188651894802,10
4786,44990,Breaking Upwards,"[{'cast_id': 1, 'character': 'Zoe', 'credit_id...","[{'credit_id': '572239efc3a368712a0007db', 'de...",15,7,3.393648296136806,10
4787,86304,All Superheroes Must Die,"[{'cast_id': 1, 'character': 'Charge / John', ...","[{'credit_id': '52fe497f9251416c910af3d1', 'de...",5,2,3.393673401788672,10
4788,692,Pink Flamingos,"[{'cast_id': 8, 'character': 'Divine / Babs Jo...","[{'credit_id': '52fe426bc3a36847f801d203', 'de...",11,7,3.393765007866192,10
4789,39851,Clean,"[{'cast_id': 1, 'character': 'Emily Wang', 'cr...","[{'credit_id': '52fe47369251416c9106db9b', 'de...",10,2,3.3934514446560144,10
4790,13898,The Circle,"[{'cast_id': 3, 'character': 'Nargess', 'credi...","[{'credit_id': '52fe45b09251416c7505f189', 'de...",7,2,3.3937412037420316,10
4791,157185,Tin Can Man,"[{'cast_id': 1, 'character': 'Dave', 'credit_i...","[{'credit_id': '54c7851b925141679100372a', 'de...",4,4,3.3939067803626126,10
4792,36095,Cure,"[{'cast_id': 3, 'character': 'Kenichi Takabe',...","[{'credit_id': '52fe45cc9251416c9103eb7b', 'de...",15,2,3.3945276926897923,10
4793,182291,On The Downlow,"[{'cast_id': 1, 'character': 'Isaac', 'credit_...","[{'credit_id': '548c416392514122ef00197d', 'de...",24,4,3.3955211524132793,10
4794,286939,Sanctuary: Quite a Conundrum,"[{'cast_id': 3, 'character': 'Mimi', 'credit_i...","[{'credit_id': '545f8107c3a3686cbb0041fd', 'de...",5,3,3.3957281231890057,10
4795,124606,Bang,"[{'cast_id': 2, 'character': 'The Girl', 'cred...","[{'credit_id': '52fe4ab0c3a368484e161add', 'de...",14,6,3.396125667453123,10
4796,14337,Primer,"[{'cast_id': 1, 'character': 'Aaron', 'credit_...","[{'credit_id': '52fe45e79251416c75066791', 'de...",19,6,3.3969121238461857,10
4797,67238,Cavite,[],"[{'credit_id': '52fe475dc3a368484e0c319f', 'de...",0,2,3.3969121238461857,10
4798,9367,El Mariachi,"[{'cast_id': 1, 'character': 'El Mariachi', 'c...","[{'credit_id': '52fe44eec3a36847f80b280b', 'de...",7,11,3.3972018709383667,10
4799,72766,Newlyweds,"[{'cast_id': 1, 'character': 'Buzzy', 'credit_...","[{'credit_id': '52fe487dc3a368484e0fb013', 'de...",5,8,3.396862842479927,10
4800,231617,"Signed, Sealed, Delivered","[{'cast_id': 8, 'character': 'Oliver O’Toole',...","[{'credit_id': '52fe4df3c3a36847f8275ecf', 'de...",7,13,3.3964247289580403,10
4801,126186,Shanghai Calling,"[{'cast_id': 3, 'character': 'Sam', 'credit_id...","[{'credit_id': '52fe4ad9c3a368484e16a36b', 'de...",5,2,3.396449704142012,10
4802,25975,My Date with Drew,"[{'cast_id': 3, 'character': 'Herself', 'credi...","[{'credit_id': '58ce021b9251415a390165d9', 'de...",8,5,3.3965988083416088,10

In [14]:
# for i in range(len(data)):
#     data['crew'][i]=literal_eval(data['crew'][i])

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
for i in range(len(data)):
    data['no_of_crew'].iloc[i]=len(data['crew'].iloc[i])

C:\Users\Administrator\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [34]:
temp_df=pd.DataFrame()
temp_df=data.groupby('title')['title','no_of_crew'].sum()
temp_df.head()

                            no_of_crew
title
#Horror                              6
(500) Days of Summer                35
10 Cloverfield Lane                 59
10 Days in a Madhouse               10
10 Things I Hate About You          37

In [28]:
len(data['crew'].iloc[0])

153

### •	Display the ratio of male vs female cast members per movie in current order

In [51]:
data['cast'][0][0]['gender']

2

In [53]:
data['ratio_in_cast']=0

In [55]:
c_male=0
c_female=0
for i in range(len(data)):
    for j in range(len(data['cast'][i])):
        if data['cast'][i][j]['gender']==1:
            c_female=c_female+1
        else:
            c_male=c_male+1
    ratio=c_male/c_female  
    data['ratio_in_cast'][i]=ratio

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [64]:
data.head()

,movie_id,title,cast,crew,no_of_cast,no_of_crew,ratio_in_cast
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",83,153,5.916666666666667
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",34,32,5.882352941176471
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",83,155,5.666666666666667
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",158,217,7.7317073170731705
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",27,132,7.191489361702128

### •	Display the ratio of male vs female crew members per movie in current order

In [65]:
data['cast'][0][0]['gender']

2

In [66]:
data['ratio_in_crew']=0

In [67]:
c_male=0
c_female=0
for i in range(len(data)):
    for j in range(len(data['crew'][i])):
        if data['crew'][i][j]['gender']==1:
            c_female=c_female+1
        else:
            c_male=c_male+1
    ratio=c_male/c_female  
    data['ratio_in_crew'][i]=ratio

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [68]:
data.head()

,movie_id,title,cast,crew,no_of_cast,no_of_crew,ratio_in_cast,ratio_in_crew
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",83,153,5.916666666666667,14
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",34,32,5.882352941176471,9
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",83,155,5.666666666666667,14
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",158,217,7.7317073170731705,19
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",27,132,7.191489361702128,20

### •	Display all distinct cast members in any order

In [71]:
data['cast'][0][0]['name']

'Sam Worthington'

In [72]:
cast_members=[]
for i in range(len(data)):
    for j in range(len(data['cast'][i])):
        name=data['cast'][i][j]['name']
        cast_members.append(name)

In [75]:
unique_cast_member=[]
for i in range(len(cast_members)):
    if cast_members[i] not in unique_cast_member:
        unique_cast_member.append(cast_members[i])
    else:
        pass

In [76]:
unique_cast_member

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Giovanni Ribisi',
 'Joel David Moore',
 'CCH Pounder',
 'Wes Studi',
 'Laz Alonso',
 'Dileep Rao',
 'Matt Gerald',
 'Sean Anthony Moran',
 'Jason Whyte',
 'Scott Lawrence',
 'Kelly Kilgour',
 'James Patrick Pitt',
 'Sean Patrick Murphy',
 'Peter Dillon',
 'Kevin Dorman',
 'Kelson Henderson',
 'David Van Horn',
 'Jacob Tomuri',
 'Michael Blain-Rozgay',
 'Jon Curry',
 'Luke Hawker',
 'Woody Schultz',
 'Peter Mensah',
 'Sonia Yee',
 'Jahnel Curfman',
 'Ilram Choi',
 'Kyla Warren',
 'Lisa Roumain',
 'Debra Wilson',
 'Chris Mala',
 'Taylor Kibby',
 'Jodie Landau',
 'Julie Lamm',
 'Cullen B. Madden',
 'Joseph Brady Madden',
 'Frankie Torres',
 'Austin Wilson',
 'Sara Wilson',
 'Tamica Washington-Miller',
 'Lucy Briant',
 'Nathan Meister',
 'Gerry Blair',
 'Matthew Chamberlain',
 'Paul Yates',
 'Wray Wilson',
 'James Gaylyn',
 'Melvin Leno Clark III',
 'Carvon Futrell',
 'Brandon Jelkes',
 'Micah Moch',
 'Hanniyah Muhammad',
 'Christopher Nolen',
 'Christa Oliver',
 'April Marie Thomas',
 'Bravita A. Threatt',
 'Colin Bleasdale',
 'Mike Bodnar',
 'Matt Clayton',
 'Nicole Dionne',
 'Jamie Harrison',
 'Allan Henry',
 'Anthony Ingruber',
 'Ashley Jeffery',
 'Dean Knowsley',
 'Joseph Mika-Hunt',
 'Terry Notary',
 'Kai Pantano',
 'Logan Pithyou',
 'Stuart Pollock',
 'Raja',
 'Gareth Ruck',
 'Rhian Sheehan',
 'T. J. Storm',
 'Jodie Taylor',
 'Alicia Vela-Bailey',
 'Richard Whiteside',
 'Nikie Zambo',
 'Julene Renee',
 'Johnny Depp',
 'Orlando Bloom',
 'Keira Knightley',
 'Stellan Skarsgård',
 'Chow Yun-fat',
 'Bill Nighy',
 'Geoffrey Rush',
 'Jack Davenport',
 'Kevin McNally',
 'Tom Hollander',
 'Naomie Harris',
 'Jonathan Pryce',
 'Keith Richards',
 'Lee Arenberg',
 'Mackenzie Crook',
 'Greg Ellis',
 'David Bailie',
 'Martin Klebba',
 'David Schofield',
 'Lauren Maher',
 'Vanessa Branch',
 'Angus Barnett',
 'Giles New',
 'Reggie Lee',
 'Dominic Scott Kay',
 'Takayo Fischer',
 'David Meunier',
 'Ho-Kwan Tse',
 'Andy Beckwith',
 'Peter Donald Badalamenti II',
 'Christopher S. Capp',
 'Hakeem Kae-Kazim',
 'Ghassan Massoud',
 'Daniel Craig',
 'Christoph Waltz',
 'Léa Seydoux',
 'Ralph Fiennes',
 'Monica Bellucci',
 'Ben Whishaw',
 'Dave Bautista',
 'Andrew Scott',
 'Rory Kinnear',
 'Jesper Christensen',
 'Alessandro Cremona',
 'Stephanie Sigman',
 'Tenoch Huerta',
 'Adriana Paz',
 'Domenico Fortunato',
 'Marco Zingaro',
 'Stefano Elfi DiClaudia',
 'Ian Bonar',
 'Tam Williams',
 'Richard Banham',
 'Pip Carter',
 'Simon Lenagan',
 'Alessandro Bressanello',
 'Marc Zinga',
 'Brigitte Millar',
 'Adel Bencherif',
 'Gediminas Adomaitis',
 'Peppe Lanzetta',
 'Francesco Arca',
 'Matteo Taranto',
 'Emilio Aniba',
 'Benito Sagredo',
 'Dai Tabuchi',
 'George Lasha',
 'Sargon Yelda',
 'Andy Cheung',
 'Erick Hayden',
 'Oleg Mirochnikov',
 'Antonio Salines',
 'Miloud Mourad Benamara',
 'Gido Schimanski',
 'Nigel Barber',
 'Patrice Naiambana',
 'Stephane Cornicard',
 'Gary Fannin',
 'Sadao Ueda',
 'Phillip Law',
 'Wai Wong',
 'Joseph Balderrama',
 'Eiji Mihara',
 'Junichi Kajioka',
 'Victor Schefé',
 'Harald Windisch',
 'Tristan Matthiae',
 'Detlef Bothe',
 'Bodo Friesecke',
 'Wilhem Iben',
 'Noemi Krausz',
 'Noah Saavedra',
 'Francis Attakpah',
 'Michael Glantschnig',
 'Marlon Boess',
 'Marie Wohlmuth',
 'Lili Epply',
 'Konstantin Gerlach',
 'Lara Parmiani',
 'Umit Ulgen',
 'Amra Mallassi',
 'Ziad Abaza',
 'Walid Mumuni',
 'Derek Horsham',
 'Nari Blair-Mangat',
 'Michael White',
 'Adam McGrady',
 'Nader Dernaika',
 'Pezhmaan Alinia',
 'Judi Dench',
 'Neve Gachev',
 'Karl Farrer',
 'Kim Adis',
 'Maurisa Selene Coleman',
 'Matija Mondi Matović',
 'Christian Bale',
 'Michael Caine',
 'Gary Oldman',
 'Anne Hathaway',
 'Tom Hardy',
 'Marion Cotillard',
 'Joseph Gordon-Levitt',
 'Morgan Freeman',
 'Cillian Murphy',
 'Juno Temple',
 'Liam Neeson',
 'Matthew Modine',
 'Alon Aboutboul',
 'Ben Mendelsohn',
 'Nestor Carbonell',
 'Josh Pence',
 'Tom Conti',
 'Joey King',
 'Warren Brown',
 'Daniel Sunjata',
 'Sam Kennard',
 'Aliash Tepina',
 'Nick Julian',
 'Miranda Nolan',
 'Claire Julien',
 'Aidan Gillen',
 'Burn Gorman',
 'Brett Cullen',
 'Joseph Lyle Taylor',
 'Chris Ellis',
 'Duane Henry',
 'James Harvey Ward',
 'Gonzalo Menendez',
 'Cameron Jack',
 'Lex Daniel',
 'Tyler Dean Flores',
 'Thomas Lennon',
 'Trevor White',
 'Rob Brown',
 'Fredric Lehne',
 'Courtney Munch',
 'Chris Hill',
 'Travis Guba',
 'Jay Benedict',
 'Will Estes',
 'David Dayan Fisher',
 'Glen Powell',
 'Russ Fega',
 'Andres Perez-Molina',
 'Brent Briscoe',
 'John Nolan',
 'Oliver Cotton',
 'Mark Killeen',
 'Sarah Goldberg',
 'John MacMillan',
 'Robert Wisdom',
 'Ronnie Gene Blevins',
 'John Hollingworth',
 'Ian Bohen',
 'Uri Gavriel',
 'Noel Gugliemi',
 'Hector Atreyu Ruiz',
 'Patrick Cox',
 'Aramis Knight',
 'Josh Stewart',
 'William Devane',
 'David Gyasi',
 'Patrick Jordan',
 'Joshua Elijah Reese',
 'Desmond Harrington',
 'Mychael Bates',
 'Tomas Arana',
 'Peter Holden',
 'David Monahan',
 'Jillian Armenante',
 'Aja Evans',
 'Aldous Davidson',
 'Wade Williams',
 'Jake Canuso',
 'Massi Furlan',
 'Christopher Judge',
 'Patrick Leahy',
 'Todd Gearhart',
 'Marc Abbink',
 'Isiah Adams',
 'Charlie Alejandro',
 'Robert Arensen',
 'Grant Babbitt',
 'Fileena Bahris',
 'Rick Bolander',
 'Kyle Patrick Brennan',
 'Scott Churchson',
 'Bill Cowher',
 'Graham Curry',
 'Stephanie Domini Ehlert',
 'John Farrer',
 'Frank Fata',
 'Christopher Bryan Gomez',
 'Vito Grassi',
 'Michael Wren Gucciardo',
 'Sam Harris',
 'Ed Heavey',
 'John W. Iwanonkiw',
 'Cindy Jackson',
 'Daniel Jordano',
 'William Kania',
 'Tiffany Kemp',
 'Sun Jae Kim',
 'Hrvoje Klecz',
 'Alex Kruz',
 'Tyler La Marr',
 'LeJon',
 'Paul Jude Letersky',
 'Joe Lipari',
 'Silvia Lombardo',
 'Jorge Mardel',
 'Cale McConnell',
 'David Dale McCue',
 'Tiffany Sander McKenzie',
 'Allen Merritt',
 'Olan Montgomery',
 'Alex Moore',
 'Shane Nolan',
 'Jackson Nunn',
 "Joseph O'Brien",
 'Michael Papajohn',
 'Salomon Passariello',
 'Kyle David Pierce',
 'Troy Polamalu',
 'Michael Power',
 'James Rawlings',
 'Kirsten Roeters',
 'Ben Roethlisberger',
 'Mark Roman',
 'Anthony J. Sacco',
 'Eric Salazar',
 'Emily Schooley',
 'Thomas Tull',
 'Chris Vaina',
 'Vincent van Ommen',
 'Michelle Vezzani',
 'Barbara Vincent',
 'Justin Michael Woods',
 'Jason Yee',
 'Maria Zambrana',
 'John Zion',
 'Alex Ziwak',
 'Tommy Bayiokos',
 'Matthew Gooley',
 'Jeff Moffitt',
 'Mark Falvo',
 'Diogo Hausen',
 'Gary Sievers',
 'Orion McCabe',
 'London May',
 'James Quinn',
 'Daniel Newman',
 'Taylor Kitsch',
 'Lynn Collins',
 'Samantha Morton',
 'Willem Dafoe',
 'Thomas Haden Church',
 'Mark Strong',
 'Ciarán Hinds',
 'Dominic West',
 'James Purefoy',
 'Bryan Cranston',
 'Polly Walker',
 'Daryl Sabara',
 'Arkie Reece',
 'Davood Ghadami',
 'Pippa Nixon',
 'James Embree',
 'Philip Philmar',
 'Emily Tierney',
 'Edmund Kente',
 'Nicholas Woodeson',
 'Kyle Agnew',
 'Don Stark',
 'Josh Daugherty',
 'Jared Cyr',
 'Christopher Goodman',
 'Amanda Clayton',
 'Joseph Billingiere',
 'Tobey Maguire',
 'Kirsten Dunst',
 'James Franco',
 'Topher Grace',
 'Bryce Dallas Howard',
 'Rosemary Harris',
 'James Cromwell',
 'J.K. Simmons',
 'Theresa Russell',
 'Dylan Baker',
 'Bill Nunn',
 'Elizabeth Banks',
 'Ted Raimi',
 'Perla Haney-Jardine',
 'Cliff Robertson',
 'Elya Baskin',
 'Mageina Tovah',
 'Joe Manganiello',
 'Stan Lee',
 'Bruce Campbell',
 'Christopher Young',
 'Grant Curtis',
 'Daniel Gillies',
 'John Paxton',
 'Becky Ann Baker',
 'Steve Valentine',
 'Hal Fishman',
 'Lucy Gordon',
 'Toni Wynne',
 'Andre B. Blake',
 'Tim Maculan',
 'Marc Vann',
 'Joe Bays',
 'Gregg Daniel',
 'Rogelio T. Ramos',
 'Timothy Patrick Quill',
 'Kathryn Bryding',
 'Joe Virzi',
 'Bill E. Rogers',
 'Michael Alexander',
 'April Parker-Jones',
 'Edward Padilla',
 'Robert Curtis Brown',
 'Paul Terrell Clayton',
 'Carolyn Neff',
 'Christina Cindrich',
 'Sonya Maddox',
 "Derrick 'Phoenix' Thomas",
 'Jessi Collins',
 'Michael McLaughlin',
 'Anne Gartlan',
 'Emilio Rivera',
 'Keith Woulard',
 'Reynaldo Gallegos',
 'Jim Coope',
 'Dean Edwards',
 'Margaret Laney',
 'Aimee Miles',
 'Tanya Bond',
 'Mark Kubr',
 'Tony Besson',
 'Ramon Adams',
 'A.J. Adelman',
 'Angelis Alexandris',
 'Dawn Marie Anderson',
 'Frank Anello',
 'Anya Avaeva',
 'David Backus',
 'Tiffany L. Baker',
 'Marc C. Cancassi',
 'Sujeilee Candele',
 'Michael Ciesla',
 'Irina Costa',
 'John Crann',
 'Crystal Marie Denha',
 'Amy V. Dewhurst',
 'Paul Edney',
 'Natalie Fabry',
 'Keith Fausnaught',
 'Amanda Florian',
 'Brianna Leann Florian',
 'Tiffany Ashley Florian',
 'Shaun Patrick Flynn',
 'Logan Fry',
 'Kevin Fung',
 'Tony Galtieri',
 'Chuck Gerena',
 'Brian Hopson',
 'Claude Jay',
 'Julie Jei',
 'Andrew James Jones',
 'Natalie Jones',
 'Christopher Jude',
 'Brittany Krall',
 'Alyssa Lakota',
 'Tia Latrell',
 'Linda Lee',
 'Pierangeli Llinas',
 'Bernadette Lords',
 'Sandrine Marlier',
 'Laura McDavid',
 'Natalie McNeil',
 'Daniel Mignault',
 'Martha Millan',
 'Michele-Nanette Miller',
 'Claudia Katz Minnick',
 'Robert Myers',
 'Jen Oda',
 'Anjelia Pelay',
 'Nick Poltoranin',
 'Vanessa Reseland',
 'La Rivers',
 'Bria Roberts',
 'Luis Rosa',
 'Vanessa Ross',
 'Brenna Roth',
 'Shade Rupe',
 'Arick Salmea',
 'Eric Shackelford',
 'Daniel Shafer',
 'Abbey Skinner',
 'Kristin Somo',
 'Jennifer Sparks',
 'Christopher Stadulis',
 'Jimmy Star',
 'Arne Starr',
 'Liam Stone',
 'Tajna Tanovic',
 'Aija Terauda',
 'Brigid Turner',
 'Evelyn Vaccaro',
 'Nick Vlassopoulos',
 'Sincerely A. Ward',
 'Silq Webster',
 'Graig F. Weich',
 'Fredrick Weiss',
 'Jennifer Weston',
 'Trenton Willey',
 'Ray Wineteer',
 'Zachary Levi',
 'Mandy Moore',
 'Donna Murphy',
 'Ron Perlman',
 'M.C. Gainey',
 'Jeffrey Tambor',
 'Brad Garrett',
 'Paul F. Tompkins',
 'Richard Kiel',
 'Delaney Rose Stein',
 'Nathan Greno',
 'Byron Howard',
 'Tim Mertens',
 'Robert Downey Jr.',
 'Chris Hemsworth',
 'Mark Ruffalo',
 'Chris Evans',
 'Scarlett Johansson',
 'Jeremy Renner',
 'James Spader',
 'Samuel L. Jackson',
 'Don Cheadle',
 'Aaron Taylor-Johnson',
 'Elizabeth Olsen',
 'Paul Bettany',
 'Cobie Smulders',
 'Anthony Mackie',
 'Hayley Atwell',
 'Idris Elba',
 'Linda Cardellini',
 'Claudia Kim',
 'Thomas Kretschmann',
 'Andy Serkis',
 'Julie Delpy',
 'Henry Goodman',
 'Chris Luca',
 'Brian Schaeffer',
 'Dominique Provost-Chalkley',
 'Isaac Andrews',
 'Gareth Kieran Jones',
 'Chan Woo Lim',
 'Minhee Yeo',
 'Bentley Kalu',
 'Julian Bleach',
 'Christopher Beasley',
 'Vuyo Dabula',
 'Nondumiso Tembe',
 'Kabelo Thai',
 'Lele Leowaba',
 'Mandla Gaduka',
 'Harriet Manamela',
 'Beulah Hashe',
 'Musca Kumalo',
 'Mathapelo September',
 'Antony Acheampong',
 'Chioma Anyanwu',
 'Ben Sakamoto',
 'Imogen Poynton',
 'Isabella Poynton',
 'Ingvild Deila',
 'Sunny Yeo',
 'Namju Go',
 'Mina Kweon',
 'Earl T. Kim',
 'Arthur Lee',
 'Verity Hewlett',
 'Michael Matovski',
 'Alma Noce',
 'Riccardo Richetta',
 'Constanza Ruff',
 'Monty Mclaren-Clark',
 'Julia Krynke',
 'Tony Christensen',
 'Ian Kay',
 'Barry Aird',
 'Aaron Himelstein',
 'Kerry Condon',
 'Jaiden Stafford',
 'Dilyana Bouklieva',
 'Josh Brolin',
 'Joti Nagra',
 'Nick W. Nicholson',
 'Daniel Westwood',
 'Daniel Radcliffe',
 'Rupert Grint',
 'Emma Watson',
 'Tom Felton',
 'Michael Gambon',
 'Jim Broadbent',
 'Helena Bonham Carter',
 'Robbie Coltrane',
 'Maggie Smith',
 'Alan Rickman',
 'Timothy Spall',
 'David Thewlis',
 'Julie Walters',
 'Matthew Lewis',
 'Evanna Lynch',
 'Bonnie Wright',
 'Oliver Phelps',
 'James Phelps',
 'Mark Williams',
 'Warwick Davis',
 'Natalia Tena',
 'Katie Leung',
 'Dave Legeno',
 'Geraldine Somerville',
 'Helen McCrory',
 'Freddie Stroma',
 'David Bradley',
 'Frank Dillane',
 'Hero Fiennes-Tiffin',
 'Gemma Jones',
 'Afshan Azad',
 'Shefali Chowdhury',
 'Georgina Leonidas',
 'Devon Murray',
 'Anna Shaffer',
 'Josh Herdman',
 'Jamie Waylett',
 'Scarlett Byrne',
 'Jessie Cave',
 'Louis Cordice',
 'Alfie Enoch',
 'Robert Knox',
 'William Melling',
 'Paul Ritter',
 'Isabella Laughland',
 'Ralph Ineson',
 'Suzanne Toase',
 'Rod Hunt',
 'Elarica Gallacher',
 'Ben Affleck',
 'Henry Cavill',
 'Gal Gadot',
 'Amy Adams',
 'Jesse Eisenberg',
 'Diane Lane',
 'Jeremy Irons',
 'Laurence Fishburne',
 'Holly Hunter',
 'Scoot McNairy',
 'Callan Mulvey',
 'Tao Okamoto',
 'Jena Malone',
 'Brandon Spink',
 'Lauren Cohan',
 'Hugh Maguire',
 'Michael Cassidy',
 'Alan D. Purwin',
 'Dan Amboyer',
 'Rebecca Buller',
 'Harry Lennix',
 'Christina Wren',
 'Jade Chynoweth',
 'Chad Krowchuk',
 'Kevin Costner',
 'Ezra Miller',
 'Patrick Wilson',
 'Michael Shannon',
 'Charlie Rose',
 'Vikram Gandhi',
 'Andrew Sullivan',
 'Neil deGrasse Tyson',
 'Jon Stewart',
 "Soledad O'Brien",
 'Erika R. Erickson',
 'Dana Bash',
 'Nancy Grace',
 'Anderson Cooper',
 'Brooke Baldwin',
 'Carla Gugino',
 'Jason Momoa',
 'Joe Morton',
 'Ray Fisher',
 'Joseph Cranford',
 'Emily Peterson',
 'Jeffrey Dean Morgan',
 'Sammi Rotibi',
 'Hanna Dworkin',
 'Tiffany L. Addison',
 'Owais Ahmed',
 'Anish Jethmalani',
 'Tiffany Bedwell',
 'Natalee Arteaga',
 'Keith D. Gallagher',
 'Jeff Dumas',
 'Miriam Lee',
 'Alicia Regan',
 'Stephanie Koenig',
 'Ripley Sobo',
 'Richard Burden',
 'Julius Tennon',
 'Wunmi Mosaku',
 'Dennis North',
 'Kiff VandenHeuvel',
 'Mason Heidger',
 'Ahney Her',
 'Kristine Cabanban',
 'Sebastian Sozzi',
 'Kent Shocknek',
 'Ralph Lister',
 'Sammy A. Publes',
 'Jay R. Adams',
 'David Midura',
 'Jay Towers',
 'Michael Ellison',
 'Kirill Ostapenko',
 'Rashontae Wawrzyniak',
 'Tom Luginbill',
 'Dave Pasch',
 'Danny Mooney ',
 'Henry Frost III',
 'Nicole Forester',
 'Debbie Stabenow',
 'Milica Govich ',
 'John Lepard',
 'Sandra Love Aldridge',
 'Graham W.J. Beal',
 'Henri Franklin',
 'Jonathan West',
 'T.J. Martinelli',
 'Chris Newman',
 'Lulu Dahl',
 'Sam Logan Khaleghi',
 'Anne Marie Damman',
 'Connie Craig',
 'Henrietta Hermelin',
 'Albert Valladares',
 'David Paris',
 'Abigail Kuklis',
 'Greg Violand',
 'Tiren Jhames',
 'Steve Jasgur',
 'Jonathan Stanley',
 'Jesse Nagy',
 'Duvale Murchison',
 'Thomas J. Fentress',
 'Coburn Goss',
 'Jeff Hanlin',
 'Gary A. Hecker',
 'Robin Atkin Downes',
 'Issac Ryan Brown',
 'Barton Bund',
 'Bailey Chase',
 "Patrick O'Connor Cronin",
 'Sonja Crosby',
 'C.T. Fletcher',
 'Ahman Green',
 'Diana Gaitirira',
 'Jalene Mack',
 'Esodie Geiger',
 'Nene Nwoko',
 'Scott Edward Logan',
 'Marcus Goddard',
 'Cruz Gonzalez-Cadel',
 'Alma Martinez',
 'Sal Lopez',
 'Marcel Shihadeh',
 'Theo Bongani Ndyalvane',
 'Satori Shakoor',
 'Ele Bardha',
 'Inder Kumar',
 'Brandon Bautista',
 'Laura Atwood',
 'Debbie Scaletta',
 'David Leach',
 'Gordon Michaels',
 'Brian Boland',
 'Taras Los',
 'Jason Hughley',
 'Sidi Henderson',
 'Meighan Gerachis',
 'Nicole Santini',
 'Axel Harney',
 'Wayne E. Brown',
 'Dante Briggins',
 'Shannon Garnett',
 'Lynch R. Travis',
 'Carmen Gangale',
 'Joe Cipriano',
 'Will Blagrove',
 'Marcelo Bem',
 'Brandon Routh',
 'Kevin Spacey',
 'Kate Bosworth',
 'James Marsden',
 'Parker Posey',
 'Frank Langella',
 'Sam Huntington',
 'Eva Marie Saint',
 'Marlon Brando',
 'Kal Penn',
 'Tristan Lake Leabu',
 'David Fabrizio',
 'Ian Roberts',
 'Vincent Stone',
 'Jack Larson',
 'Noel Neill',
 'Keegan Joyce',
 'Jordana Beatty',
 'Olga Kurylenko',
 'Mathieu Amalric',
 'Giancarlo Giannini',
 'Gemma Arterton',
 'Jeffrey Wright',
 'David Harbour',
 'Anatole Taubman',
 'Tim Pigott-Smith',
 'Joaquín Cosio',
 'Glenn Foster',
 'Stana Katic',
 'Lucrezia Lante della Rovere',
 'Neil Jackson',
 'Oona Chaplin',
 'Rachel McDowall',
 'Gustavo Nanez',
 'Mark Wakeling',
 'Sarah Hadland',
 'David Decio',
 'Aaron King',
 'Alexandra Prusa',
 'Brandon Jovanovich',
 'Alexandre Krawetz',
 'Fernando Guillén Cuervo',
 'Jesús Ochoa',
 'Simon Kassianides',
 "Brendan O'Hea",
 'Alex Norton',
 'Dermot Keaney',
 'Clive Ashborn',
 'Christopher Adamson',
 'Jonathan Linsley',
 'John Boswall',
 'Max Baker',
 'Steve Speirs',
 'Luke de Woolfson',
 'Jonathan Kite',
 'Armie Hammer',
 'William Fichtner',
 'James Badge Dale',
 'Tom Wilkinson',
 'Ruth Wilson',
 'Barry Pepper',
 'James Frain',
 'Mason Cook',
 "Matt O'Leary",
 'Leon Rippy',
 'Harry Treadaway',
 'Damon Herriman',
 'W. Earl Brown',
 'Gil Birmingham',
 'Saginaw Grant',
 'Stephen Brodie',
 'Matthew Page',
 'Bryant Prince',
 'JD Cullum',
 'Timothy V. Murphy',
 'Damon Carney',
 'Kevin Wiggins',
 'Chad Brummett',
 'Robert Baker',
 'Lew Temple',
 'Stephen Root',
 'Randy Oglesby',
 'Brad Greenquist',
 'Rance Howard',
 'Leonard Earl Howze',
 'Travis Hammer',
 'Steve Corona',
 'Jack Axelrod',
 'Christopher Hagen',
 'Freda Foh Shen',
 'Margaret Bowman',
 'Luz P. Mendez',
 'Laina Loucks',
 'Devon J. Adams',
 'Desirae Anslover',
 'Charlotte Cormier',
 'Megan Pribyl',
 'Briana Van Schuyver',
 'Julie Stracener',
 'Chad Randall',
 'Jason E. Hill',
 'Beth Bailey',
 'Joanne Camp',
 'Bob Rumnock',
 'Tait Fletcher',
 'Alex Knight',
 'Argos MacCallum',
 'Pokey Lafarge',
 'Joey Glynn',
 'Adam Hoskins',
 'Ryan Koenig',
 'Russell Crowe',
 'Antje Traue',
 'Christopher Meloni',
 'Jadin Gould',
 'Tahmoh Penikett',
 'Ayelet Zurer',
 'Richard Schiff',
 'Dylan Sprayberry',
 'Michael Kelly',
 'Richard Cetrone',
 'Mackenzie Gray',
 'Julian Richings',
 'Mary Black',
 'Samantha Jo',
 'David Lewis',
 'Doug Abrahams',
 'Brad Kelly',
 'Alessandro Juliani',
 'Jack Foley',
 'Robert Gerdisch',
 'Jacqueline Scislowski',
 'Sean Campbell',
 'Raj Lal',
 'Ben Barnes',
 'William Moseley',
 'Anna Popplewell',
 'Skandar Keynes',
 'Georgie Henley',
 'Sergio Castellitto',
 'Alicia Borrachero',
 'Peter Dinklage',
 'Vincent Grass',
 'Pierfrancesco Favino',
 'Damián Alcázar',
 'Simón Andreu',
 'Predrag Bjelac',
 'Shane Rangi',
 'Cornell John',
 'Ken Stott',
 'Tilda Swinton',
 'Eddie Izzard',
 'Klára Issová',
 'Tom Hiddleston',
 'Clark Gregg',
 'Gwyneth Paltrow',
 'Jenny Agutter',
 'Walter Perez',
 'Powers Boothe',
 'Arthur Darbinyan',
 'Donald Li',
 'Ashley Johnson',
 'Harry Dean Stanton',
 'Alicia Sixtos',
 'Dieter Riesle',
 'Jamie McShane',
 'Jeff Wolfe',
 'Jerzy Skolimowski',
 'Maximiliano Hernández',
 'Alexis Denisof',
 'James Eckhouse',
 'Enver Gjokaj',
 'Damion Poitier',
 'Tina Benko',
 'Kirill Nikiforov',
 "M'laah Kaur Singh",
 'Rashmi Rustagi',
 'Warren Kole',
 'Jesse Garcia',
 'Kenneth Tigar',
 'Josh Cowdery',
 'Katsumi Komatsu',
 'Yumiko Komatsu',
 'Momoko Komatsu',
 'Robert Clohessy',
 'Fernanda Toker',
 'Andrea Vecchio',
 'Robin Swoboda',
 'Brent McGee',
 'Michael Zhang',
 'William-Christopher Stephens',
 'Kelley Robins',
 'Romy Rosemont',
 'Pat Kiernan',
 'Thomas Roberts',
 'Jillian Morgese',
 ...]

### •	Display the total count of movies acted in per cast member in any order.

In [77]:
movies_cast=data[['title','cast']]
movies_cast.head()

,title,cast
0,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '..."
1,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa..."
2,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr..."
3,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba..."
4,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c..."

In [95]:
movies=pd.DataFrame(columns=['cast_name','movie'])
for i in range(len(movies_cast)):
    for j in range(len(movies_cast['cast'][i])):
        name=data['cast'][i][j]['name']
        title=movies_cast['title'][i]
        curr={'cast_name':name,'movie':title}
        movies=movies.append(curr,ignore_index=True)

In [106]:
movies.groupby(['cast_name'])[['movie']].count()

                       movie
cast_name
  Jorge de los Reyes       1
 Larry Mullen Jr.          1
"Weird Al" Yankovic        4
'Snub' Pollard             3
'Wild Bill' Laczko         1
50 Cent                    8
A. David Burleigh          1
A. Frank Ruffo             3
A. J. Benza                1
A. J. Langer               2
A. Jay Radcliff            1
A. Michael Baldwin         1
A. Russell Andrews         2
A.C. Green                 1
A.D. Johnson               1
A.D. Miles                 2
A.J. Adelman               1
A.J. Balance               1
A.J. Benza                 1
A.J. Buckley               5
A.J. Cook                  3
A.J. DeLucia               1
A.J. Johnson               2
A.J. McLean                1
A.J. Riebli III            1
A.J. Sexton                2
A.J. Tecce                 1
A.J. Verel                 1
A.S. Byron                 1
A.k. Steppa                1
...                      ...
Ángel Luis Arjona          1
Ángel Salazar              1
Ángela Molina              1
Ángela Moreno              1
Áron Dimény                1
Ève Salvail                2
Édgar Vivar                2
Émilie Dequenne            2
Émilie Leclerc             1
Éric Fraticelli            1
Éva Igó                    1
Éva Magyar                 1
Íñigo Garcés               1
Òscar Foronda              2
Ólafur Darri Ólafsson      5
Ólafur Flosason            1
Óscar Casas                1
Óscar Jaenada              5
Ôfuji                      1
Ørjan Gamst                1
Øyvind Hagen-Traberg       1
Čarni Đerić                1
Đơn Dương                  1
Đỗ Thị Hải Yến             1
İlkay Akdağlı              1
Špela Colja                1
Нина Јанковић              1
Юлия Снигирь               2
پیمان معادی                2
徐帆                         1

[54201 rows x 1 columns]